# Ignorar el directorio del backup y el zip
/20251004_elmanicomiotattoo_1e3870f2804cba621527_20251004183720_archive/
*.zip

# Archivos de sistema y logs
.DS_Store
Thumbs.db

# Archivos de WordPress que no deben estar en el repositorio

/.htaccess
elmanicomiotattoo_local/wp-content/uploads/
elmanicomiotattoo_local/wp-content/2023/
elmanicomiotattoo_local/wp-content/2024/
elmanicomiotattoo_local/wp-content/2025/
elmanicomiotattoo_local/wp-content/astra-docs/
elmanicomiotattoo_local/wp-content/cfdb7_uploads/
elmanicomiotattoo_local/wp-content/complianz/
elmanicomiotattoo_local/wp-content/elementor/
elmanicomiotattoo_local/wp-content/js_composer/
elmanicomiotattoo_local/wp-content/mainwp/
elmanicomiotattoo_local/wp-content/rsssl/
elmanicomiotattoo_local/wp-content/smush-webp-test.png
elmanicomiotattoo_local/wp-content/smush/
elmanicomiotattoo_local/wp-content/wpcf7_captcha/
elmanicomiotattoo_local/wp-content/wpcf7_uploads/
elmanicomiotattoo_local/wp-content/wpforms/
elmanicomiotattoo_local/wp-content/wpmc-trash/
/wp-content/upgrade/
/wp-content/backups-dup-lite/
/wp-content/cache/
/wp-content/advanced-cache.php
/wp-content/wp-cache-config.php
/wp-content/smush-webp/
/debug.log
/wp-content/plugins/
/wp-content/languages/

# Dependencias de Composer
/vendor/

# Reportes y logs
*.log
phpcs_report.txt
